{
  "presets": [
    ["@babel/preset-env", {
      "debug": false,
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    ["import", { "libraryName": "ant-design-vue", "libraryDirectory": "es", "style": "css" }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    "transform-vue-jsx"    
  ]
}
